.App {
  display: grid;
  place-items: center;
}

body {
  background: rgb(205, 180, 219);
  background: linear-gradient(
    90deg,
    rgba(205, 180, 219, 1) 0%,
    rgba(255, 200, 221, 1) 35%,
    rgba(162, 210, 255, 1) 100%
  );
}

.botones.nav {
  gap: 10px;
}

.tarjetasjtron {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 48px;
  margin: 0 auto;
}

.card.mb-2.main {
  margin-top: 70px;
  height: 100px;
  color: white;
  background-color: #a2d2ff;
}
.card.mb-2.main2 {
  height: 100px;
  color: white;
  background-color: #a2d2ff;
}

.navbar.fixed-top {
  background-color: #a2d2ff;
  color: white;
}
.container-fluid.nav {
  background-color: #a2d2ff;
}

.heellootext {
  padding: 4px;
  margin-left: 3%;
  font-size: large;
}

.navbar-brand.section {
  justify-content: center;
  font-size: xx-large;
  padding-left: 1px;
}

.cascading-right {
  margin-right: -50px;
}
@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
